#root{
  background-color: rgb(25, 42, 61);
  color: beige;
}

.registroUsuario {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2%;
  text-align: center;
  align-items: center;
}

.formulario {
  text-align: end;
  width: 50%;
  margin-left: 30%;
}
